[flake8]
exclude =
    .git,
    __pycache__,
    build,
    .venv,
    venv
max-complexity = 40
max-line-length = 120
ignore =
    # complexity handled above
    C901,
    # incompatible with black 
    E203,
    # incompatible with black 
    W503,
    # line too long, black will handle this 
    E501, 
    E226,